body {
	font-family: sans-serif;
}

.label {
	display: block;
	padding: 0 0 5px 0;
}

textarea {
	resize: vertical;
	min-width: 171px;
	max-height: 150px;
	min-height: 20px;
	border-radius: 5px;
}

.form {
	width: 250px;
	border-radius: 5px;
}

.button {
	cursor: pointer;
}

.form-container {
	border: 200px 250px;
}

.legend {
	font-weight: bold;
	margin: 10px;
}

.head {
	margin: 3px 3px 3px 0px;
}

.form-group {
	border-radius: 10px;
}

.input {
	border-radius: 5px;
}

.checkbox {
	margin-bottom: 3px;
}
