table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

td,
th,
caption {
	border: 1px solid #000;
}

caption {
	border-bottom: none;
}

caption {
	font-weight: bold;
}

.color-1 {
	color: red;
}

.color-2 {
	color: red;
}

.color-01 {
	color: red;
}

.color-07 {
	color: red;
}

.color-08 {
	color: red;
}

.color-14 {
	color: red;
}

.color-15 {
	color: red;
}

.color-21 {
	color: red;
}

.color-22 {
	color: red;
}

.color-28 {
	color: red;
}

.color-29 {
	color: red;
}
